@model INSTA_APP.Models.profil

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>profil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.broj_pratilaca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.broj_pratilaca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategorija.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategorija.naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDkorisnicko_ime }) |
    @Html.ActionLink("Back to List", "Index")
</p>
